body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff8f8;
}

.card-container {
  text-align: center;
  padding: 30px;
  margin: 30px;
}

.row {
  font-size: 0;
  margin-bottom: 60px;
}

.row .card {
  background-color: rgba(241, 221, 104, 0.493);
  box-shadow: #29170281 0px 2px 5px 0px;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 0px;
  height: 433.59375px;
  margin-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  text-align: center;
  vertical-align: top;
  width: 300px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 50px;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #777;
}
